.gallery {
  max-width: 1223px;
  margin: 0 auto;
  padding-top: 180px;
  color: #FFFFFF;
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    text-align: center;
    padding-bottom: 48px;
  }
  .grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;

    &__content{
      display: grid;
      grid-template-rows: 209px 15em 3em 10em;
      grid-template-columns: 15em 1fr 15em;
      gap: 24px;

      &__block__1{
        display: flex;
        align-items: center;
      }


      &__block__2{
        img {
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
        grid-area: 1 / 2 / span 2 / span 1;
      }
      &__block__3{
        img {
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
      }
      &__block__4{
        img {
          width: 100%;
          height: 63%;
          border-radius: 16px;
        }
        grid-area: 2 / 1 / span3;
      }
      &__block__5{
        img {
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
      }


      &__block__6{
        img {
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
        grid-area: 4 / 2 / span 2 / span 2;

      }
    }
  }

}